@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Lora&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #f5f2f8;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Afacad;
}

.logo-container img {
    width: 25%; /* Ajusta el tamaño máximo del logo según tus necesidades */
    margin-left: 25px;
    border-radius: 65px;
}

.social-icons {
    display: flex;
    position: absolute;
    margin-right: 25px;
    top: 80px; /* Ajusta la posición verticalmente */
    right: 15px; /* Ajusta la posición horizontalmente */
    transform: translateY(-50%); /* Centra verticalmente */
}

.social-icons a {
    margin-right: 10px;
}

.face {
    width: 24px; /* Ancho de los iconos */
    height: 24px;
}

.inst {
    width: 24px; /* Ancho de los iconos */
    height: 24px;
}

nav {
    font-size: 25px;
    font-family: Afacad;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    margin-right: 130px;
    padding: 10px;
    display: flex;
}

nav li {
    margin-right: 20px;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

section {
    text-align: center;
}

.yoga {
    font-family: Afacad;
    font-size: 35px;
    margin-bottom: 20px;
}

.content {
    margin-right: 15px;
    font-family: Afacad;
    display: flex;
    align-items: center;
    justify-content: normal;
}

.poseyoga {
    font-size: 20px;
    margin: 25px;
    max-width: 100%;
    height: auto;
}

.imgyoga {
    max-width: 100%;
}

.activa {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

#productos {
    font-family: Afacad;
    font-size: 30px;
    text-align: center;
}

.cuadricula {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    justify-content: center;
}

.imagen {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #f5f2f8; /* Cambia el color de fondo según tu diseño */
    color: #fff; /* Cambia el color del texto según tu diseño */
    padding: 20px;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos uniformemente */
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

.footlogo-container {
    display: none;
}

.footlogo-container img {
    width: 25%; /* Ajusta el tamaño máximo del logo según tus necesidades */
    margin-left: 25px;
    border-radius: 65px;
}

.slogan {
    color: #000;
    font-family: Afacad;
    font-size: 35px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.slogan:hover {
    color: #7D6A86; /* Cambia el color al pasar el mouse sobre el texto */
    transform: scale(1.1); /* Aplica un aumento de escala al pasar el mouse sobre el texto */
}

.contact-info, .social-icons {
    text-align: inherit;
    color: #000;
    margin: 5px;
    margin-bottom: 5px;
}

.footersocial-icons {
    color: #000;
    margin-top: -5px;
}

.footersocial-icons img {
    width: 25px; /* Ajusta el tamaño de los íconos sociales según tus necesidades */
    margin: 10px; /* Añade un espacio entre los íconos sociales */
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .footlogo-container img {
        margin-left: -5px;
        max-width: 25%;
        border-radius: 65%;
        justify-content: center;
    }

    .social-icons {
        position: static; /* Restablecer la posición para pantallas pequeñas */
        margin-top: -30px;
        display: flex;
        position: absolute;
        margin-right: 25px;
        top: 80px; /* Ajusta la posición verticalmente */
        right: 15px; /* Ajusta la posición horizontalmente */
        transform: translateY(-50%); /* Centra verticalmente */
    }

    nav {
        margin-top: -40px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .logo-container img {
        margin-bottom: 20px;
    }

    .contact-info .footersocial-icons {
        margin: 10px; 
    }

    .slogan {
        display: none;
    }

    .content {
    margin-right: 15px;
    font-family: Afacad;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .poseyoga {
    margin-top: 20px;
    max-width: 90%;
    }

    .imgyoga {
    height: auto;
    width: 90%;
    }

    .activa {
        max-width: 80%; /* Ajusta el tamaño de la imagen para pantallas más grandes */
    }

    .cuadricula {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    justify-content: center;
}
}